@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,800;1,400&family=Poppins:wght@300&display=swap");

// ------------

@import "./variables";

// --------------
@font-face {
  font-family: "Visage Outline";
  src: url("../../public/assets/fonts/Visage-Outline.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@function convertToEm($px) {
  @return math.div($px, 16) + em;
}
@function to-vw($px, $context: 1366px) {
  @return math.div($px, $context) * 100vw;
}

@function to-vh($px, $context: 768px) {
  @return math.div($px, $context) * 100vh;
}

@function vw($px-vw, $base-vw: 1366px) {
  @return calc(($px-vw * 100vw) / $base-vw);
}

@function vh($px-vw, $base-vh: 768px) {
  @return calc(($px-vw * 100vh) / $base-vh);
}

@mixin flex(
  $direction: row,
  $justify: space-between,
  $align: baseline,
  $width: 96vw,
  $gap: 0,
  $margin: auto
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  width: $width;
  gap: $gap;
  margin: $margin;
}

* {
  color: $white;
  box-sizing: border-box;
}
body {
  background-image: $background;
  overflow-x: hidden;
  min-width: 100vw;
  min-height: 100vh;
  margin: auto;
}

#hero {
  @include flex(column, $margin: 1rem auto);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: convertToEm(12);
  line-height: convertToEm(16);
  color: #dbdbdb;
  .header {
    @include flex();

    border-bottom: 1px #ffffff99 solid;
    margin: auto;
    .hamburger-menu {
      img {
        height: vh(20px);
      }
    }
  }
  .nav-links {
    @include flex($gap: vw(70px), $width: fit-content);
    .single-link-selected {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 300;
      font-size: convertToEm(17);
      padding: 20px;
      border-bottom: 6px #ffffff solid;
      color: #dbdbdb;
    }
    .single-link {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 300;
      font-size: convertToEm(17);
      color: #dbdbdb;
    }
  }
  .desc {
    @include flex($justify: start);
    p {
      width: 30vw;
      font-weight: 300;
      font-size: convertToEm(12);
      line-height: vh(16px);
      color: #dbdbdb;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .carousel {
    @include flex($width: 110vw, $align: center, $gap: 16vw);
    max-height: 45vh;

    .menu-image {
      img {
        width: 19vw;
        filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.501961));
      }
    }
    .menu-selected-image {
      img {
        width: 31.5vw;
        filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.501961));
      }
    }
    .menu-next-image {
      @include flex($direction: column, $width: fit-content, $align: self-end);
      .menu-next-image-container {
        height: 0;
      }
      img {
        width: 21vw;
        filter: drop-shadow(0px 12px 3px rgba(0, 0, 0, 0.501961));
        z-index: 5;
      }
      .menu-item-next-indicator {
        font-size: 23vw;
        font-family: "Visage Outline";
        margin: 0;
      }
    }
  }

  .menu-description {
    .menu-item-subtitle {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: convertToEm(16);
      line-height: 57px;
      letter-spacing: 0.169em;
      text-transform: uppercase;
      color: #dbdbdb;
    }
    .menu-item-title {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: convertToEm(82);
      margin: 0px 0px 2vw 0px;
      text-transform: capitalize;
      color: #dbdbdb;
    }
  }
  .bottom-element {
    @include flex();
    .carousel-counter-container {
      border-bottom: 1px #ffffff99 solid;
      flex-grow: 2;
      .carousel-counter {
        @include flex(
          $justify: center,
          $gap: vw(24px),
          $width: fit-content,
          $margin: 0
        );
        border-bottom: 3px #ffffff solid;
      }
      .selected-bottom-indicator {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        font-size: convertToEm(24);
        color: #dbdbdb;
      }

      .bottom-indicator {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: convertToEm(16);
        color: #dbdbdb;
      }
    }

    .carousel-nav {
      flex-grow: 1;
      @include flex($justify: center, $width: fit-content, $gap: vw(16px));
      .carousel-nav-icon {
        img {
          height: to-vh(45px);
          width: auto;
        }
      }
    }
    .social-icons {
      flex-grow: 1;
      @include flex($justify: end, $width: fit-content, $gap: vw(30px));
      img {
        width: to-vw(42px);
      }
    }
  }
}
